* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    margin-top: 50px;
}

.jj .numberOfJokess {
    width: max-content
}

@media only screen and (max-width: 600px) {
    .nav-wrapper a {
        width: max-content;
    }
}

@media only screen and (min-width: 600px) {
    .nav-wrapper a {
        width: max-content;
    }
}