* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

#content {
    margin-top: 50px;
    margin-bottom: 500px;
}

.numberOfJokess {
    width: max-content
}

ul li {
    font-size: 1.1rem;
    font-weight: normal;
}

.social a {
    margin: 0 30px 0 20px;
}

@media only screen and (max-width: 600px) {
    .nav-wrapper a {
        width: max-content;
    }
}

@media only screen and (min-width: 600px) {
    .nav-wrapper a {
        width: max-content;
    }
}